<?xml version="1.0"?>
<launch>
    <include file="$(find solamr_monitor)/launch/master_discovery.launch"/>
    <include file="$(find solamr_monitor)/launch/master_sync.launch"/>
    <include file="$(find ros_linked_drive)/launch/linked_drive.launch"/>
    <include file="$(find ros_teleop)/launch/joy.launch"/>
</launch>

