<?xml version="1.0"?>
<launch>
    <include file="$(find solamr_monitor)/launch/master_discovery.launch"/>
    <include file="$(find solamr_monitor)/launch/master_sync_rviz.launch"/>
    <node pkg='rviz' type='rviz' name='rviz' args='-d $(find solamr_monitor)/rviz/solamr.rviz'>
        <!--remap from='/initialpose' to='/zed/initialpose'/-->
        <remap from='/tf' to='/tf_rviz'/>
    </node>
</launch>
